
{% extends 'base.html' %}

{% block contenido %}
   <div class="container my-5">
        <div class="row align-items-center justify-content-center text-center text-md-start">
            <div class="col-md-6 mb-4 mb-md-0">
                <h1 class="display-4 fw-bold mb-3" style="color: var(--color-texto-oscuro);">Academia free drivers hoy no fio mañana sí</h1>
                <p class="lead text-muted mb-4">el que se asusta choca aprende con los mejores.</p>
                <a href="/login" class="btn btn-moderno px-5 py-3 fs-5 shadow">Vamonos....</a>
            </div>
        </div>
    </div>
{% endblock %}